/**********************  EMBEDED FONT  ***********************/
@font-face {
	font-family: "icon";
	src: url("font/fontawesome-webfont.woff") format("woff");
}
@font-face {
	font-family: "anemone";
	src: url("font/ADLMounTiane.woff") format("woff");
}
@font-face {
	font-family: "brandit";
	src: url("font/Brandit-Regular.woff") format("woff");
}
@font-face {
	font-family: "hiruko";
	font-weight: 100;
	src: url("font/HirukoPro-Light.woff") format("woff");
}
@font-face {
	font-family: "hiruko";
	src: url("font/HirukoPro-Book.woff") format("woff");
}
@font-face {
	font-family: "hiruko-alt";
	src: url("font/HirukoProAlternate-Book.woff") format("woff");
}
/*************************  INITIAL  **************************/
body{
	cursor: default;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-width: 240px;
	height: 100%;
	margin: 0;
	background: orange;
	z-index: -1;
	-webkit-transition: all .2s;
	transition: all .2s;
}
*::-moz-selection{}
*::selection{}
input[type=text]::-moz-selection,
input[type=number]::-moz-selection,
input[type=password]::-moz-selection{
	background-color: white;
	color: salmon;
}
input[type=text]::selection,
input[type=number]::selection,
input[type=password]::selection,{
	background-color: white;
	color: salmon;
}
p, input, select, svg, button{
	margin: 0;
	padding: 0;
	background-color: transparent;
	border: none;
	font-family: hiruko;
	font-size: 16px;
}
h1{
	position: absolute;
	display: inline-block;
	margin: 0;
	padding: 0;
	top: 5px;
	left: 0;
	right: 0;
	font-family: brandit;
	font-size: 40px;
	color:rgba(255,255,255,.7);
	text-shadow: 2px 2px 0 rgba(0,0,0,.3);
}
h2{
	display: block;
	font-family: brandit;
	font-size: 30px;
	color:white;
	margin: 5px;
	text-shadow: 2px 2px 0 rgba(0,0,0,.3);
}
h1::before,
h1::after,
h2::before,
h2::after{
	content: "";
	display: inline-block;
	height: 0px;
	width: 0px;
	border-color: inherit;
	border: 15px solid;
	margin: 0 10px;
}
h1::before,
h2::before {
	border-left-color: transparent;
	margin-left: -1px;
	box-shadow: 2px 2px 0 rgba(0,0,0,.3);
}
h1::after,
h2::after {
	border-right-color: transparent;
	margin-right: -1px;
	box-shadow: -2px 2px 0 rgba(0,0,0,.3);
}
h3{
	margin: 0;
	padding: 5px;
	background: teal;
	color: white;
	font-size: 18px;
	border-radius: 20px 20px 0 0;
}
h3::before,
h3::after{
	position: absolute;
	font-family: icon;
	font-size: 14px;
	font-weight: normal;
	color: orange;
}
h3::before{
	content: '\F10D';
	margin-left: -18px;
}
h3::after{
	content: '\F10E';
	margin-left: 5px;
}
/*************************  HEADER  **************************/
#header{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: auto;
	margin: 0;
	padding: 5px;
	background: url(clip/pixel.png), teal; /* Tidak Support Gradien */
	background: url(clip/pixel.png), -webkit-linear-gradient(left, #066, teal, #066); /* Safari 5.1 to 6.0 */
	background: url(clip/pixel.png), -o-linear-gradient(left, #066, teal, #066); /* Opera 11.1 to 12.0 */
	background: url(clip/pixel.png), -moz-linear-gradient(left, #066, teal, #066); /* Firefox 3.6 to 15 */
	background: url(clip/pixel.png), linear-gradient(to right, #066, teal, #066); /* Standard syntax */
	background-position: left bottom;
	background-repeat: repeat;
	font-family: anemone;
	font-size: 30px;
	color: white;
	text-shadow: 1px 2px rgba(0,0,0,.4);
	text-align: center;
	filter: drop-shadow(0 0 3px rgba(0,0,0,.5));
}
#header .menu{
	position: relative;
	height: 45px;
	background: rgba(255,255,255,.5);
	overflow-x: auto;
	text-align: center;
	font-family: hiruko;
}
#header .menu p{
	width: auto;
	height: auto;
	display: inline-block;
	background: white;
	margin: 5px;
	padding: 3px 5px;
	border-radius: 5px;
	font-size: 18px;
	color: #333;
	border: 2px teal solid;
}
#header .menu p:hover,
#header .menu p[aktif]{
	background: teal;
	color: white;
}
/*************************  KONTEN  **************************/
/************ Animasi Keyframe Background Dashboard *************/
@-webkit-keyframes bganimright {
	0%{background-position: left center;}
	100%{background-position: right center;}
}
@keyframes bganimright {
	0%{background-position: left center;}
	100%{background-position: right center;}
}
@-webkit-keyframes bganimrighttop {
	0%{background-position: left bottom;}
	100%{background-position: right top;}
}
@keyframes bganimrighttop {
	0%{background-position: left bottom;}
	100%{background-position: right top;}
}
@-webkit-keyframes bganimrightbottom {
	0%{background-position: left top;}
	100%{background-position: right bottom;}
}
@keyframes bganimrightbottom {
	0%{background-position: left top;}
	100%{background-position: right bottom;}
}
@-webkit-keyframes bganimleft {
	0%{background-position: right center;}
	100%{background-position: left center;}
}
@keyframes bganimleft {
	0%{background-position: right center;}
	100%{background-position: left center;}
}
@-webkit-keyframes bganimlefttop {
	0%{background-position: right bottom;}
	100%{background-position: left top;}
}
@keyframes bganimlefttop {
	0%{background-position: right bottom;}
	100%{background-position: left top;}
}
@-webkit-keyframes bganimleftbottom {
	0%{background-position: right top;}
	100%{background-position: left bottom;}
}
@keyframes bganimleftbottom {
	0%{background-position: right top;}
	100%{background-position: left bottom;}
}
@-webkit-keyframes bganimtop {
	0%{background-position: center bottom;}
	100%{background-position: center top;}
}
@keyframes bganimtop {
	0%{background-position: center bottom;}
	100%{background-position: center top;}
}
@-webkit-keyframes bganimbottom {
	0%{background-position: center top;}
	100%{background-position: center bottom;}
}
@keyframes bganimbottom {
	0%{background-position: center top;}
	100%{background-position: center bottom;}
}
/*************************  KONTEN  **************************/
#Dashboard,
#Menu,
#Transaksi,
#Laporan,
#User{
	position: absolute;
	top: 85px;
	left: 0;
	right: 0;
	bottom: 38px;
	padding: 5px;
	text-align: center;
	font-family: hiruko;
	font-size: 16px;
	overflow: auto;
	z-index: -1;
	display: 'none';
	opacity: 0;
	-webkit-transform : scale(0,0);
	transform : scale(0,0);
}
#Menu,
#Transaksi,
#Laporan,
#User{
	-webkit-transition: all .2s;
	transition: all .2s;
}
#Dashboard[aktif],
#Menu[aktif],
#Transaksi[aktif],
#Laporan[aktif],
#User[aktif]{
	display: 'inline-block';
	opacity: 1;
	-webkit-transform : scale(1,1);
	transform : scale(1,1);
}
#User #tambah-user,
#User #ubah-user,
#Menu #tambah-menu,
#Menu #ubah-menu,
#Dashboard #login{
	display: none;
	position: relative;
	background-color: rgba(255,255,255,.4);
	padding: 5px;
	border-radius: 25px;
	box-shadow: 0 0 2px #333;
	height: auto;
	color: #333;
}
#Dashboard > #background{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	-webkit-transition: opacity .5s;
	transition: opacity .5s;
	background-image: url(../img/upload/dashboard_1.jpg);
	-webkit-animation: bganimleft 30s infinite linear;
	animation: bganimleft 30s infinite linear;
	filter: blur(5px);
	opacity: 0;
}
#Dashboard #login{
	margin-top: 10%;
}
#Dashboard #welcome{
	display: none;
	position: absolute;
	top:100px;
	left:0;
	right: 0;
	bottom: 0;
	overflow: auto;
}
#Dashboard #welcome[aktif]{
	display: block;
}
#Dashboard #welcome table{
	width: 100%;
	height: 100%;
}
#Dashboard #welcome .grid{
	display: inline-block;
	width: 200px;
	height: 200px;
	margin: 10px;
	border-radius: 50%;
	border: 5px teal solid;
	overflow: hidden;
	background: rgba(255,255,255,.5) url("clip/noise.png");
}
#Dashboard #welcome .grid h4{
	position: absolute;
	display: inline-block;
	width: 140px;
	height: 100px;
	margin-top: 40px;
	font-size: 18px;
	margin-left: -70px;
	padding: 0;
}
#Dashboard #welcome .grid p{
	position: absolute;
	display: inline-block;
	width: 120px;
	height: 100px;
	margin-top: 100px;
	margin-left: -60px;
	font-size: 40px;
	padding: 0;
}
#Dashboard #welcome .grid #total-pendapatan{
	font-size: 20px;
}
#User #tambah-user,
#User #ubah-user,
#Menu #tambah-menu,
#Menu #ubah-menu{
	max-width: 400px;
	height: auto;
}
#User #tambah-user[aktif],
#User #ubah-user[aktif],
#Menu #tambah-menu[aktif],
#Menu #ubah-menu[aktif],
#Dashboard #login[aktif]{
	display: inline-block;
}
#User > #tambah-user > select,
#User > #ubah-user > select,
#User > #tambah-user > input,
#User > #ubah-user > input,
#Menu > #tambah-menu > input,
#Menu > #ubah-menu > input,
#Dashboard > #login > input{
	color: white;
	font-family: hiruko;
	font-size: 16px;
	text-align: center;
	border-radius: 5px;
	border: 2px white dashed;
	background: orange;
	width: 80%;
	margin: 5px;
	padding: 8px 5px;
}
#User > #tambah-user > input,
#User > #ubah-user > input,
#Menu > #tambah-menu > input,
#Menu > #ubah-menu > input{
	display: inline-block;
}
#User > #tambah-user > input[type = button],
#User > #ubah-user > input[type = button],
#Menu > #tambah-menu > input[type = button],
#Menu > #ubah-menu > input[type = button],
#Dashboard > #login > input[type = button]{
	width: 40%;
	display: inline-block;
	background: teal;
}
#User > #tambah-user > input:hover,
#User > #ubah-user > input:hover,
#Menu > #tambah-menu > input:hover,
#Menu > #ubah-menu > input:hover,
#Dashboard > #login > input:hover{
	color: white;
	background: salmon;
}
#User .tepi,
#Menu .tepi{
	display: none;
	width: auto;
}
#User .tepi[aktif],
#Menu .tepi[aktif]{
	display: block;
}
#tombol-tambah{
	display: inline-block;
	font-size: 18px;
	padding: 5px 8px;
	border-radius: 5px;
	margin: 10px;
	background: teal;
	color: white;
	text-shadow: 1px 2px #333;
}
#tombol-tambah:hover{
	background: grey;
}
#Transaksi .tabel-transaksi,
#Menu .tabel-menu,
#User #tabel-user{
	display: none;
	position: relative;
	background-color: rgba(255,255,255,.6);
	padding: 5px;
	border-radius: 10px;
	box-shadow: 0 0 2px #333;
	color: teal;
}
#Transaksi .tabel-transaksi[aktif],
#Menu .tabel-menu[aktif],
#User #tabel-user[aktif]{
	display: inline-block;
}
#Transaksi .tabel-transaksi th,
#Menu .tabel-menu th,
#User .tabel-user th{
	padding: 5px 5px;
	background: teal;
	color: white;
	font-size: 20px;
	font-weight: 100;
	border-radius: 3px;
	text-shadow: 1px 2px  rgba(0,0,0,.4);
}
#Transaksi .tabel-transaksi td,
#Menu .tabel-menu td,
#User .tabel-user td{
	padding: 5px 5px;
	border: 2px teal dashed;
	color: #333;
	font-size: 16px;
}
#Transaksi .tabel-transaksi tr[aktif],
#Menu .tabel-menu tr[aktif],
#User .tabel-user tr[aktif]{
	-webkit-animation: blink 2s infinite;
	animation: blink 1s infinite;
}
table button{
	display: inline-block;
	margin: 5px;
}
button{
	padding: 3px 5px;
	color: white;
	background: orange;
	font-size: 16px;
	border-radius: 5px;
	text-shadow: 1px 2px  rgba(0,0,0,.4);
}
button[aktif],
button:hover{
	background: teal;
}
@-webkit-keyframes blink {
	0% {background: transparent;}
	50% {background: salmon;}
	100% {background: transparent;}
}
@keyframes blink {
	0% {background: transparent;}
	50% {background: salmon;}
	100% {background: transparent;}
}
#Transaksi > .tabel-detail{
	display: none;
	position: relative;
	background-color: white;
	padding: 5px;
	border-radius: 10px;
	box-shadow: 0 0 2px #333;
	color: black;
}
#Transaksi > .tabel-detail[aktif]{
	display: inline-block;
}
#Transaksi > .tabel-detail th{
	padding: 5px 5px;
	background: teal;
	color: white;
	font-size: 20px;
}
#Transaksi > .tabel-detail td{
	padding: 5px 5px;
	border: 1px black dashed;
	color: black;
	font-size: 16px;
}
#Transaksi > #ubah-status{
	display: none;
	position: relative;
	background-color: white;
	padding: 5px;
	border-radius: 10px;
	box-shadow: 0 0 2px #333;
	color: black;
}
#Transaksi > #ubah-status[aktif]{
	display:inline-block;
}
#Transaksi > #ubah-status > select{
	color: white;
	font-family: hiruko;
	font-size: 16px;
	text-align: center;
	border-radius: 5px;
	border: 2px white dashed;
	background: orange;
}
#Transaksi > #ubah-status > select:hover{
	background: salmon;
}
#Laporan > .tabel-transaksi{
	display: none;
	position: relative;
	background-color: white;
	padding: 5px;
	border-radius: 10px;
	box-shadow: 0 0 2px #333;
	color: black;
	font-weight: 100;
}
#Laporan > .tabel-transaksi[aktif]{
	display: inline-block;
}
#Laporan > .tabel-transaksi th{
	padding: 5px 5px;
	background: grey;
	color: black;
	font-size: 18px;
	font-weight: 100;
}
#Laporan > .tabel-transaksi td{
	padding: 5px 5px;
	border: 1px black dashed;
	color: black;
	font-size: 14px;
}
#Laporan > .tabel-transaksi .total-transaksi tr{
	color: black;
	font-size: 16px;
	background: grey;
}
#Laporan #cetak-data{
	display: block;
	width: auto;
	border-radius: 25px;
	margin: 5px 0;
	padding: 5px;
	background: white;
}
#Laporan #cetak-data input{
	width: auto;
	min-width: 100px;
	border-radius: 5px;
	margin: 5px;
	padding: 5px;
	background: orange;
	color:white;
}
#Laporan #cetak-data input:hover{
	background: teal;
}
/*************************  USER  **************************/
#User > #struktur-user{
	margin-left: 5%;
	width: 90%;
	height: 90%;
	display: none;
}
#User > #struktur-user[aktif]{
	display: block;
}
/*************************  MANAGEMENT  **************************/
#ManagementSystem .strBlack {stroke:black;stroke-width:6}
#ManagementSystem .strBlue {stroke:dodgerBlue;stroke-width:6}
#ManagementSystem .strLime {stroke:lime;stroke-width:6}
#ManagementSystem .strRed {stroke:red;stroke-width:6}
#ManagementSystem .strPurple {stroke:purple;stroke-width:6}
#ManagementSystem .filNone {fill:none}
#ManagementSystem .filBlack {fill:black}
#ManagementSystem .filWhite {fill:white}
#ManagementSystem .filBlue {fill:dodgerBlue}
#ManagementSystem .filLime {fill:lime}
#ManagementSystem .filRed {fill:red}
#ManagementSystem .filPurple {fill:purple}
#ManagementSystem .fnt0 {font-weight:normal;font-size:40px;font-family:'Anemone'}
#ManagementSystem .fnt1 {font-weight:normal;font-size:60px;font-family:'Anemone'}

/*************************  PESAN  **************************/
#Alert{
	position: fixed;
	top: 0;
	left:0;
	width: 100%;
	height: 100%;
	background: #00808055;
	z-index: 10;
	text-align: center;
	visibility: hidden;
}
#Alert[aktif]{
	visibility: visible;
}
#Alert td{
	text-align: center;
}
#Alert p{
	font-size: 20px;
	font-family: hiruko;
	background: teal;
	color : white;
	padding: 5px 8px;
	border-radius: 5px;
	border: 2px white dashed;
}
/*************************  FOOTER  **************************/
#footer{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: auto;
	margin: 0;
	padding: 0;
	background: url(clip/pattern.png), teal; /* Tidak Support Gradien */
	background: url(clip/pattern.png), -webkit-linear-gradient(left, #066, teal, #066); /* Safari 5.1 to 6.0 */
	background: url(clip/pattern.png), -o-linear-gradient(left, #066, teal, #066); /* Opera 11.1 to 12.0 */
	background: url(clip/pattern.png), -moz-linear-gradient(left, #066, teal, #066); /* Firefox 3.6 to 15 */
	background: url(clip/pattern.png), linear-gradient(to right, #066, teal, #066); /* Standard syntax */
	background-position: left bottom;
	background-repeat: repeat;
	font-family: hiruko;
	font-size: 14px;
	font-weight: 100;
	color: white;
	text-shadow: 1px 2px rgba(0,0,0,.4);
	text-align: center;
	filter: drop-shadow(0 0 3px rgba(0,0,0,.5));
}
#footer > p{
	padding: 10px;
}
/*************************  KALENDER  **************************/
#kalender{
	position: fixed;
	top: 0;
	left: 0;
	width: 240px;
	height: 240px;
	border: 1px salmon solid;
	border-radius: 15px;
	box-shadow: 0 0 5px 0 black;
	font-family: 'hiruko';
	font-weight: 100;
	font-size: 13px;
	color:black;
	text-align: center;
	cursor: default;
	transform: scale(0, 0);
	opacity: 0;
	overflow: hidden;
	z-index: 2;
}
#kalender > table{
	width: 100%;
	height: 100%;
}
#kalender > table > thead{
	position: absolute;
	top:0;
	left: 0;
	height: 25px;
	background: teal;
	font-size: 14px;
	z-index: 3;
}
#kalender > table > thead > tr > td{
	width: 188px;
	color: white;
	transition: .2s;
}
#kalender > table > thead > tr > td:hover{
	background: white;
	color: black;
	border-radius: 15px;
}
#kalender > table > thead > tr > td[disabled]:hover{
	background: salmon;
	color: white;
}
#kalender > table > thead > tr > td:first-child,
#kalender > table > thead > tr > td:last-child{
	width: 21px;
	font-family: icon;
}
#kalender > table > thead > tr > td:last-child::before{
	content : '\F054';
}
#kalender > table > thead > tr > td:first-child::before{
	content : '\F053';
}
#kalender > table > tbody{
	position: absolute;
	top:25px;
	left: 0;
	padding: 6px;
	background: salmon;
	-webkit-transition: opacity .2s, -webkit-transform .4s;
	transition: opacity .2s, transform .4s;
}
#kalender > table > tbody > tr > td{
	background: white;
	border-radius:15px;
	border: 1px #333 dashed;
	-webkit-transition: background .2s, border-radius .3s;
	transition: background .2s, border-radius .3s;
}
#kalender > table > #harian > tr > td{

	width: 26.3px;
	height: 22.8px;
}
#kalender > table > #bulanan > tr > td{
	width: 69.5px;
	height: 44.2px;
}
#kalender > table > #tahunan > tr > td{
	width: 50.5px;
	height: 34.2px;
}
#kalender > table > #harian > tr > td:first-child{
	color: red;
}
#kalender > table > tbody > tr > td:hover,
#kalender > table > tbody > tr > td[aktif]{
	background: teal;
	color: white;
	border-radius:15px;
	border: 1px white dashed;
}
#kalender > table > tbody > tr > td[disabled]{
	background: transparent;
	color: white;
	border: 1px white dashed;
}
#kalender > table > tbody > tr > td[disabled]:hover{
	background: transparent;
	color: white;
	border-radius:15px;
}
/*************************  GAMBAR  **************************/
.canvas-user,
.gambar-user,
.canvas-menu,
.gambar-menu{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	overflow: hidden;
	border: 2px white dashed;
}
.gambar-user,
.gambar-menu{
	position: absolute;
	opacity: 0;
}