@font-face {
	font-family: "icon";
	src: url("font/fontawesome-webfont.woff") format("woff");
}
@font-face {
	font-family: "anemone";
	src: url("font/ADLMounTiane.woff") format("woff");
}
@font-face {
	font-family: "brandit";
	src: url("font/Brandit-Regular.woff") format("woff");
}
@font-face {
	font-family: "hiruko";
	font-weight: 100;
	src: url("font/HirukoPro-Light.woff") format("woff");
}
@font-face {
	font-family: "hiruko";
	src: url("font/HirukoPro-Book.woff") format("woff");
}
@font-face {
	font-family: "hiruko-alt";
	src: url("font/HirukoProAlternate-Book.woff") format("woff");
}
body{
	cursor: default;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-width: 240px;
	height: 100%;
	margin: 0;
	z-index: -1;
}
*::-moz-selection{}
*::selection{}
p, input, svg{
	margin: 0;
	padding: 0;
	background-color: transparent;
	border: none;
}
#peringatan{
	position: fixed;
	right: 0;
	bottom: 0;
	width : 50px;
	height : 50px;
	max-width: 400px;
	background: orange;
	text-align: center;
	z-index: 10;
	border-radius: 100% 0 0 0;
	box-shadow: 0 0 5px black;
	-webkit-transition: all .2s;
	transition: all .2s;
	opacity: 0;
}
#peringatan > .judul{
	font-family: hiruko;
	font-weight: 100;
	font-size: 20px;
	padding: 3px 5px;
	display: none;
}
#peringatan > .tombol{
	position: absolute;
	right: 5px;
	bottom: 5px;
	font-family: icon;
	font-size: 25px;
	float: right;
	color: white;
	text-shadow: 0 0 5px black;
	-webkit-transition: all .2s;
	transition: all .2s;
}
#peringatan > .tepi{
	display: none;
}
#peringatan > .tepi > .isi{
	
}
#peringatan:hover{
	width: 60px;
	height: 60px;
	box-shadow: 0 1px 0 rgba(0,0,0,.4), 20px 10px 0 rgba(255,255,255,.3) inset;
}
#peringatan:active{
	width: 50px;
	height: 50px;
	background: salmon;
	box-shadow: 0 1px 0 rgba(0,0,0,.4), 30px 20px 0 rgba(255,255,255,.5) inset;
}
#peringatan:hover > .judul{
	font-family: hiruko;
	font-weight: 100;
	font-size: 20px;
	padding: 
}
#peringatan:hover > .tombol{
	right: 10px;
	bottom: 10px;
}
#peringatan:active > .tombol{
	right: 5px;
	bottom: 5px;
}
#peringatan:hover > .tepi{
	
}
#peringatan:hover > .tepi > .isi{
	
}
#peringatan[aktif] {
	font-family: hiruko;
	font-weight: 100;
	font-size: 20px;
	width: 95%;
	max-width: 300px;
	height: 95%;
	max-height: 500px;
	border-radius: 20px 20px 0 20px;
	margin: 5px;
	opacity: 1;
}
#peringatan[aktif] > .judul{
	display: block;
	font-family: hiruko;
	font-weight: 100;
	font-size: 20px;
	background: teal;
	color: white;
	padding: 10px;
	text-shadow: 1px 2px 0 #00000055;
	box-shadow: 0 0 10px rgba(0,0,0,.5) inset;
	border-radius: 20px 20px 0 0
}
#peringatan[aktif] > .tombol{
	top: 5px;
	bottom: auto;
	background: white;
	color: #D05;
	padding: 10px;
	border-radius: 50%;
	font-size: 15px;
	text-shadow: 0 0 0 black;
	box-shadow: 0 0 10px rgba(0,0,0,.5) inset;
}
#peringatan[aktif] > .tombol:hover{
	color: white;
	background: #D05;
}
#peringatan[aktif] > .tepi{
	position: absolute;
	top: 50px;
	left: 5px;
	right: 5px;
	bottom: 5px;
	border-radius: inherit;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border: 2px teal dashed;
	overflow-y: auto;
	display: block;
}
#peringatan[aktif] > .tepi > .isi{
}
#peringatan[aktif] > .tepi > .isi > p{
	font-size: 18px;
	background: white;
	margin: 3px 5px;
	border-radius: 10px;
}
@-webkit-keyframes blink {
	0% {background: white;}
	50% {background: #D05;}
	100% {background: white;}
}
@keyframes blink {
	0% {background: white;}
	50% {background: #D05;}
	100% {background: white;}
}
#peringatan[aktif] > .tepi > .isi > p:last-child{
	font-size: 24px;
	-webkit-animation: blink 2s infinite;
	animation: blink 1s infinite;
}
#peringatan[aktif]:hover{
	width: 95%;
	height: 95%;
	box-shadow: 0 0 5px black;
}
#peringatan[aktif]:active{
	width: 95%;
	height: 95%;
	box-shadow: 0 0 5px black;
	background: orange;
}
#peringatan[aktif]:hover > .judul{
	font-family: hiruko;
	font-weight: 100;
	font-size: 20px;
}
#peringatan[aktif]:hover > .tombol{
	right: 5px;
	bottom: auto;
}
#peringatan[aktif]:active > .tombol{
	right: 5px;
	bottom: auto;
}
#header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 75px;
	background: url(clip/pixel.png), teal; /* Tidak Support Gradien */
	background: url(clip/pixel.png), -webkit-linear-gradient(left, #066, teal, #066); /* Safari 5.1 to 6.0 */
	background: url(clip/pixel.png), -o-linear-gradient(left, #066, teal, #066); /* Opera 11.1 to 12.0 */
	background: url(clip/pixel.png), -moz-linear-gradient(left, #066, teal, #066); /* Firefox 3.6 to 15 */
	background: url(clip/pixel.png), linear-gradient(to right, #066, teal, #066); /* Standard syntax */
	background-position: left bottom;
	background-repeat: repeat;
	-webkit-transition: height .4s;
	transition: height .4s;
	filter: drop-shadow(0 0 3px rgba(0,0,0,.5));
}
#header #logo{
	position: absolute;
	top: 0;
	left: 20px;
	width: 100px;
	height: 70px;
	background-color: orange;
	background-image: url(clip/noise.png);
	background-position: left bottom;
	background-repeat: repeat;
	color: #333;
	text-align: center;
	border-radius: 0 0 5px 5px;
	-webkit-transition: all .4s;
	transition: all .4s;
}
#header > #logo > .icon{
	display: inline-block;
	margin: 5px 0 0 0;
	padding: 10px;
	width: 40px;
	height: 40px;
	font-family: icon;
	font-size: 40px;
	border: 2px #333 dashed;
	border-radius: 50%;
	-webkit-transform: scale(0,0);
	transform: scale(0,0);
	-webkit-transition: -webkit-transform .4s;
	transition: transform .4s;
}
#header > #logo > .habiba{
	display: block;
	position: absolute;
	margin: 0;
	padding: 0;
	width: 100%;
	bottom: 25px;
	font-family: anemone;
	font-size: 30px;
}
#header > #logo > .menu{
	display: block;
	position: absolute;
	margin: 0;
	padding: 0;
	width: 100%;
	bottom: 0;
	font-family: brandit;
	font-size: 23px;
}
#header > #order-form{
	position: absolute;
	top: 0;
	left: 120px;
	right: 0;
	height: 75px;
	text-align: center;
	overflow-y: auto;
	-webkit-transition: left .2s;
	transition: left .2s;
}
#header > #order-form .tombol{
	width: 35px;
	height: 35px;
	display: inline-block;
	position: relative;
	background-color: rgba(0,0,0,0);
	color: white;
	font-family: icon;
	font-size: 35px;
	text-align: center;
	margin-top: 0;
	padding: 10px 15px 20px 15px;
	border-radius: 50%;
	border: 1px white solid;
	text-shadow: 1px 2px rgba(0,0,0,.4);
	box-shadow: 1px 2px 0 rgba(0,0,0,.4);
	-webkit-transition: background-color .1s, box-shadow .1s;
	transition: background-color .1s, box-shadow .1s;
}
#header > #order-form .tombol[aktif],
#header > #order-form .tombol:hover{
	background-color: rgba(0,0,0,.4);
	box-shadow: 1px 2px 0 rgba(0,0,0,.4), 15px 15px 0 rgba(255,255,255,.3) inset;
}
#header > #order-form .tombol:active{
	background-color: rgba(0,0,0,.2);
	box-shadow: 0 1px 0 rgba(0,0,0,.4), 20px 20px 0 rgba(255,255,255,.3) inset;
}
#header > #order-form .tombol p,
#header > #order-form .tombol input{
	display: block;
}
#header > #order-form .tombol input{
	position: absolute;
	margin-top: -3px;
	padding: 0;
	color: white;
	font-family: hiruko;
	font-size: 12px;
	text-align: center;
	text-shadow: 1px 2px rgba(0,0,0,.4);
}
#dialog-tambah .input-mini,
#dialog-tambah .input,
#dialog-pesanan .input-mini,
#dialog-pesanan .input,
#header > #order-form .input-mini,
#header > #order-form .input{
	display: inline-block;
	background-color: rgba(0,0,0,.2);
	color: white;
	text-shadow: 1px 2px rgba(0,0,0,.4);
	font-family: icon;
	font-size: 20px;
	margin: 4px;
	padding: 0;
	border-radius: 5px;
	border: 0 rgba(255,255,255,.4) solid;
	box-shadow: 0 0 5px rgba(255,255,255,.4), 0 0 5px rgba(0,0,0,.4) inset;
	-webkit-transition: background-color .1s, box-shadow .1s;
	transition: background-color .1s, box-shadow .1s;
}
#dialog-tambah .input,
#dialog-pesanan .input,
#header > #order-form .input{
	width: 200px;
}
#dialog-tambah .input-mini,
#dialog-pesanan .input-mini,
#header > #order-form .input-mini{
	width: 95px;
}
#header > #order-form #lihat[aktif],
#dialog-tambah .input-mini:hover,
#dialog-tambah .input:hover,
#dialog-pesanan .input-mini:hover,
#dialog-pesanan .input:hover,
#header > #order-form .input-mini:hover,
#header > #order-form .input:hover{
	background-color: rgba(0,0,0,.4);
	box-shadow: 1px 2px 0 rgba(0,0,0,.4), 0 10px 0 rgba(255,255,255,.3) inset;
}
#dialog-tambah .input-mini:active,
#dialog-tambah .input:active,
#dialog-pesanan .input-mini:active,
#dialog-pesanan .input:active,
#header > #order-form .input-mini:active,
#header > #order-form .input:active{
	background-color: rgba(0,0,0,.2);
	box-shadow: 0 1px 0 rgba(0,0,0,.4), 0 15px 0 rgba(255,255,255,.3) inset;
}
#header > #order-form #lihat[aktif],
#header > #order-form #lihat:hover{
	background-color: rgba(0,150,200,.8);
}
#header > #order-form #order:hover{
	background-color: rgba(0,200,0,.8);
}
#header > #order-form #hapus:hover{
	background-color: rgba(200,0,50,.8);
}
#dialog-tambah .input-mini p,
#dialog-tambah .input p,
#dialog-pesanan .input-mini p,
#dialog-pesanan .input p,
#header > #order-form .input-mini p,
#header > #order-form .input p{
	float: left;
	display: inline-block;
	width: 25px;
	margin: 0;
	padding: 4px;
	border: 0 rgba(255,255,255,.4) solid;
	border-right-width: 2px;
}
#dialog-tambah .input-mini input,
#dialog-tambah .input input,
#dialog-pesanan .input-mini input,
#dialog-pesanan .input input,
#header > #order-form .input-mini input,
#header > #order-form .input input{
	display: inline-block;
	position: relative;
	margin: 0;
	padding: 5px 0;
	color: white;
	font-family: hiruko;
	font-size: 16px;
	text-align: center;
	text-shadow: 1px 2px rgba(0,0,0,.4);
}
#dialog-tambah .input input,
#dialog-pesanan .input input,
#header > #order-form .input input{
	width: 150px;
}
#dialog-tambah .input-mini input,
#dialog-pesanan .input-mini input,
#header > #order-form .input-mini input{
	width: 60px;
}
/* Show Hide Menu Header */
#header > #order-form .grup{
	display: inline-block;
	margin-top:-9px;
	padding: 0;
	max-width: 210px;
	max-height: 85px;
	overflow: hidden;
	-webkit-transition: max-width .2s;
	transition: max-width .2s;
}
#header > #order-form .show-hide{
	max-width: 0;
}
#header > #order-form .satu[aktif]{
	position: absolute;
	top: 84px;
	margin-left: -65px;
}
#header > #order-form .dua[aktif]{
	position: absolute;
	top: 160px;
	margin-left: -65px;
}
#header > #order-form #meja{
	margin: 4px 0 4px 6px;
}
#header > #order-form #opsi{
	margin: 4px;
}
#header > #order-form #meja[aktif]{
	box-shadow: 1px 2px 0 rgba(0,0,0,.4), 15px 15px 0 rgba(255,255,255,.3) inset;
}
#header > #order-form #meja > #meja-value{
	position: absolute;
	top: 25px;
	left: 0;
	right: 0;
	height: auto;
	color: white;
	font-family: hiruko;
	font-size: 12px;
	font-weight: 100;
	text-align: center;

}
#header > #order-form #opsi{
	display: none;
}
/* Mengatur Tampilan Kalender & Jam pada Header yang ada di pojok kanan atas.*/
#header > #order-form .waktu{
	display: block;
	margin: -4px -10px -16px -10px;
	padding: 0;
	font-family: hiruko;
	overflow: hidden;
	-webkit-transform: scale(.7,.7);
	transform: scale(.7,.7);
	border-radius: 50%;
	filter: drop-shadow(2px 3px rgba(0,0,0,.4));
	box-shadow: 0 0 5px rgba(0,0,0,0) inset;
	-webkit-transition: background-color .1s, box-shadow .1s;
	transition: background-color .1s, box-shadow .1s;
}
#header > #order-form .waktu:hover{
	background-color: rgba(0,0,0,.4);
	box-shadow: 25px 25px 0 rgba(255,255,255,.3) inset;
}
#header > #order-form .waktu:active{
	background-color: rgba(0,0,0,.2);
	box-shadow: 35px 35px 0 rgba(255,255,255,.3) inset;
}
#header > #order-form #teks-kalender,
#header > #order-form #teks-waktu{
	position: absolute;
	top:0;
	left: 0;
	-webkit-transition: -webkit-transform .3s, opacity .3s;
	transition: transform .3s, opacity .3s;
}
#header > #order-form #teks-waktu{
	opacity:0;
	-webkit-transform: scale(0,0);
	transform: scale(0,0);
}
#header > #order-form #teks-kalender #hari,
#header > #order-form #teks-kalender #tanggal,
#header > #order-form #teks-kalender #tahun,
#header > #order-form #teks-kalender #bulan,
#header > #order-form #teks-waktu #jam,
#header > #order-form #teks-waktu #format{
	font-family: hiruko;
	text-anchor: middle;
	fill: white;
}
#header > #order-form #teks-waktu #jam{
	font-size: 18px;
}
#header > #order-form #teks-waktu #format{
	font-size: 16px;
}
#header > #order-form #waktu{
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
}
#header > #order-form #waktu > #jari,
#header > #order-form #waktu > #detik,
#header > #order-form #waktu > #menit,
#header > #order-form #waktu > #jam{
	fill: transparent;
	stroke: white;
	stroke-width: 2;
	-webkit-transition: stroke-dasharray .5s;
	transition: stroke-dasharray .5s;
}
/* 2*12 */
#header > #order-form #waktu > #jari{
	stroke-dasharray:2 17.9;
	stroke-width: 4;
}
/*5.03*60*/
#header > #order-form #waktu > #detik{
	stroke-dasharray:5.03 0;
}
/*4.714*60*/
#header > #order-form #waktu > #menit{
	stroke-dasharray:4.714 0;
}
/*4.4*60*/
#header > #order-form #waktu > #jam{
	stroke-dasharray:4.4 0;
}
#nomor-meja,
#dialog-tambah,
#dialog-pesanan{
	display: block;
	position: fixed;
	height: auto;
	top: 75px;
	left: 0;
	right: 0;
	bottom: auto;
	padding: 25px 5px;
	background: #DDD;
	box-shadow: 0 0 5px rgba(0,0,0,.8);
	overflow-y: auto;
	text-align: center;
}
#nomor-meja{
	-webkit-transform: scale(0,0);
	transform: scale(0,0);
	-webkit-transition: -webkit-transform .2s;
	transition: transform .2s;
	-webkit-transition-delay: .2s;
	transition-delay: .2s;
}
#nomor-meja > p{
	display: inline-block;
	position: relative;
	min-width: 50px;
	width: auto;
	height: 50px;
	margin: 5px;
	padding: 3px 5px;
	font-family: hiruko;
	font-size: 40px;
	color: #333;
	background: transparent;
	border: 2px #333 dashed;
	border-radius: 30px;
	text-shadow: 1px 2px rgba(0,0,0,.3);
	filter: drop-shadow(1px 2px 0 rgba(0,0,0,.3));
}
#nomor-meja > p:hover{
	background-color: orange;
	color: white;
}
#nomor-meja > p[aktif],
#nomor-meja > p:active{
	background-color: teal;
	color: white;
}
#dialog-tambah,
#dialog-pesanan{
	-webkit-transform: scale(0,0);
	transform: scale(0,0);
	-webkit-transition: -webkit-transform .2s;
	transition: transform .2s;
}
#dialog-tambah #tabel-pesanan,
#dialog-tambah #opsi-pesanan,
#dialog-pesanan #cari-pesanan,
#dialog-pesanan #tabel-pesanan,
#dialog-pesanan #opsi-pesanan{
	margin: 0 5px 10px 5px;
	padding: 5px 3px;
	font-family: hiruko;
	border-radius: 5px;
	border: 2px teal dashed;
	border-top: 0;
	overflow-x: auto;
}
#dialog-tambah .judul,
#dialog-pesanan .judul{
	margin: 10px 5px 0 5px;
	padding: 3px;
	background: orange;
	font-family: hiruko;
	font-size: 20px;
	color: white;
	border-radius: 5px 5px 0 0;
	border: 2px teal dashed;
	text-shadow:  1px 2px rgba(0,0,0,.3);
	z-index: 1;
}
#dialog-pesanan .grup,
#dialog-pesanan .grup-mini{
	display: inline-block;
	margin: 0;
	padding: 0;
}
#dialog-pesanan .grup{
	max-width: 210px;
}
#dialog-pesanan .grup-mini{
	max-width: 100px;
}
#dialog-pesanan .input,
#dialog-pesanan .input-mini{
	margin: 2px;
}
.tabel-pesanan{
	display: inline-block;
	width: auto;
	max-width: 800px;
	margin: 0 5px;
	text-align: center;
	border-radius: 5px;
	border: 1px black dashed;
	border-bottom: 0;
	font-weight: 100;
}
.tabel-pesanan tr:first-child{
	background: 
}
.tabel-pesanan td{
	padding: 3px 6px;
	font-weight: 100;
	border: 1px black dashed;
	border-top: 0;
	border-left: 0;
}
.tabel-pesanan td:last-child{
	background: rgba(0,0,0,.2);
	border-right:0;
}
.tabel-pesanan > thead > tr > td{
	font-weight: normal;
}
.tabel-pesanan > tbody > .kode-transaksi > td,
.tabel-pesanan > tbody > .nama-pemesan > td,
.tabel-pesanan > tbody > .info > td,
.tabel-pesanan > tbody > .info-pesanan > td{
	text-align: center;
	font-weight: normal;
}
.tabel-pesanan > tbody > .kode-transaksi > td > p,
.tabel-pesanan > tbody > .nama-pemesan > td > p,
.tabel-pesanan > tbody > .info > td > p,
.tabel-pesanan > tbody > .info-pesanan > td > p{
	display: inline-block;
	margin: 5px;
	padding: 3px 5px;
	background: white;
	border-radius: 5px;
}
#dialog-pesanan #opsi-pesanan #tombol-ubah{
	display: none;
}
.tabel-pesanan > tbody > .kode-transaksi > td > #kode-transaksi:before{
	content: 'KODE TRANSAKSI : '
}
.tabel-pesanan > tbody > .nama-pemesan > td > #nama-pemesan:before{
	content: 'NAMA PEMESAN : '
}
.tabel-pesanan > tbody > .info-pesanan > td > #tanggal:before{
	content: 'Tanggal : '
}
.tabel-pesanan > tbody > .info-pesanan > td > #waktu:before{
	content: 'Pukul : '
}
.tabel-pesanan > tbody > .info-pesanan > td > #status:before{
	content: 'Status : '
}
.tabel-pesanan > tbody > .info > td > #info:before{
	content: 'INFO : '
}
#konten{
	display: block;
	position: relative;
	margin: 0;
	padding: 100px 0 50px 0;
	width: 100%;
	min-height: 570px;
	background: url(clip/noise.png), orange;
	background: url(clip/noise.png), -webkit-radial-gradient(orange,#C80);
	background: url(clip/noise.png), -o-radial-gradient(orange,#C80);
	background: url(clip/noise.png), -moz-radial-gradient(orange,#C80);
	background: url(clip/noise.png), radial-gradient(orange,#C80);
	background-position: left top;
	background-repeat: repeat;
	z-index: -1;
	text-align: center;
}
#konten > #welcome{
	display: block;
	width: auto;
	font-family: anemone;
	font-size: 30px;
	color: #333;
}
#konten > #menu{
	display: inline-block;
	position: relative;
	width: 200px;
	height: 200px;
	margin: 20px;
	padding: 0;
	border-color: salmon;
	filter: drop-shadow(0 0 3px rgba(0,0,0,.5));
}
@-webkit-keyframes loading {
	0% {-webkit-transform: rotate(0deg);}
	12.5% {-webkit-transform: rotate(45deg);}
	25% {-webkit-transform: rotate(90deg);}
	37.5% {-webkit-transform: rotate(135deg);}
 	50% {-webkit-transform: rotate(180deg);}
	62.5% {-webkit-transform: rotate(225deg);}
	75% {-webkit-transform: rotate(270deg);}
	87.5% {-webkit-transform: rotate(315deg);}
	100% {-webkit-transform: rotate(360deg);}
}
@keyframes loading {
	0% {transform: rotate(0deg);}
	12.5% {transform: rotate(45deg);}
	25% {transform: rotate(90deg);}
	37.5% {transform: rotate(135deg);}
 	50% {transform: rotate(180deg);}
	62.5% {transform: rotate(225deg);}
	75% {transform: rotate(270deg);}
	87.5% {transform: rotate(315deg);}
	100% {transform: rotate(360deg);}
}
#konten > #menu > .gambar p{
	position: absolute;
	margin: 37% 44%;
	font-family: icon;
	font-size: 25px;
	color: #333;
	/*
	-webkit-animation: loading 2s infinite linear;
	animation: loading 2s infinite linear;
	*/
}
#konten > #menu > .gambar{
	position: relative;
	margin: 10% 5%;
	width: 90%;
	height: 80%;
	background-color: teal;
	background-position: center;
	background-size: contain;
	border-radius: 50%;
	-webkit-transition: -webkit-transform .2s, background-size .2s;
	transition: transform .2s, background-size .2s;
	-webkit-transform: scale(1,1);
	transform: scale(1,1);
	z-index: -1;
}
#konten > #menu > .gambar[aktif]{
	background-size: cover;
	-webkit-transform: scale(1.1,1.1);
	transform: scale(1.1,1.1);
}
#konten > #menu > .nama{
	position: absolute;
	display: block;
	width: 80%;
	height: 30px;
	left: 18px;
	top: 160px;
	padding: 2px;
	background: salmon;
	color: salmon;
	box-shadow: 0 0 5px rgba(0, 0, 0, .5), 0 0 3px rgba(0, 0, 0, .5) inset;
	-webkit-transition: left .2s, width .2s, height .2s;
	transition: left .2s, width .2s, height .2s;
}
#konten > #menu > .nama > p{
	width: 99%;
	height: 98%;
	font-family: brandit;
	font-size: 22px;
	color: #333;
	overflow: hidden;
	stroke-dasharray: 2 5;
	border: 1px rgba(0,0,0,.3) dashed;
	text-shadow: 1px 1px 0 rgba(255,255,255,.5);
	z-index: 1;
}
#konten > #menu > .nama::before,
#konten > #menu > .nama::after{
	content: "";
	display: block;
	position: absolute;
	top: -8px;
	height: 0px;
	width: 0px;
	border-color: inherit;
	border: 15px solid;
	z-index: -1;
}
#konten > #menu > .nama::before {
	border-left-color: transparent;
	left: -22px;
}
#konten > #menu > .nama::after {
	border-right-color: transparent;
	right: -22px;
}
#konten > #menu > .harga{
	position: absolute;
	right: 10px;
	top: 0;
	width: auto;
	min-width: 25px;
	padding: 2px; 
	background: salmon;
	border-radius: 14px 14px 14px 0;
	box-shadow: 0 0 5px rgba(0, 0, 0, .5), 25px 25px 0 rgba(255,255,255,0) inset;
	-webkit-transition:  border-radius .2s, min-width .2s, font-size .2s;
	transition:  border-radius .2s, min-width .2s, font-size .2s;
	z-index: 1;
}
#konten > #menu > .harga > p{
	padding: 6px 3px;
	border: 1px rgba(0,0,0,.3) dashed;
	border-radius: inherit;
	font-family: hiruko;
	font-size: 14px;
	color: #333;
	text-shadow: 1px 1px 0 rgba(255,255,255,.5);
}
#konten > #menu > .qty{
	position: absolute;
	left: 10px;
	top: 0;
	width: auto;
	min-width: 33px;
	min-height: 33px;
	padding: 2px; 
	background: salmon;
	border-radius: 18px 18px 0 18px;
	box-shadow: 0 0 5px rgba(0, 0, 0, .5);
	-webkit-transition: border-radius .2s, transform .2s, opacity .2s;
	transition: border-radius .2s, transform .2s, opacity .2s;
	z-index: 1;
	overflow: hidden;
}
#konten > #menu > .qty > p{
	padding: 2px 5px;
	border: 1px rgba(0,0,0,.3) dashed;
	border-radius: inherit;
	font-family: hiruko;
	font-size: 22px;
	color: #333;
	text-shadow: 1px 1px 0 rgba(255,255,255,.5);
}
#konten > #menu > .qty > input{
	position: absolute;
	width: 100%;
	height: 36px;
	top: 0;
	left: 10%;
	font-family: hiruko;
	font-size: 22px;
	color: #333;
	opacity: 0;
}
#konten > #menu > .qty-value{
	position: absolute;
	top: 7.5%;
	left: 2.5%;
	width: 90%;
	height: 80%;
	background: transparent;
	border: 5px salmon solid;
	border-radius: 50%;
	box-shadow: 25px 25px 0 rgba(255,255,255,0) inset;
	-webkit-transition: box-shadow .2s, transform .2s;
	transition: box-shadow .2s, transform .2s;
	overflow: hidden;
	z-index: -1;
}
#konten > #menu > .qty-value:hover{
	box-shadow: 25px 25px 0 rgba(255,255,255,.3) inset;
}
#konten > #menu > .qty-value:active{
	box-shadow: 35px 35px 0 rgba(255,255,255,.4) inset;
}
#konten > #menu > .qty-value > #tambah,
#konten > #menu > .qty-value > #kurang{
	display: inline-block;
	width:50%;
	height: 61%;
	margin: 0;
	padding: 39% 0 0 0;
	background: rgba(0,0,0,0);
	font-family: icon;
	font-size: 20px;
	color: rgba(255,255,255,0);
}
#konten > #menu > .qty-value > #tambah{
	float: right;
	border-radius: 0 100% 100% 0;
}
#konten > #menu > .qty-value > #kurang{
	float: left;
	border-radius: 100% 0 0 100%;
}
#konten > #menu > .qty-value > #tambah:hover,
#konten > #menu > .qty-value > #kurang:hover{
	background-color: rgba(0,0,0,.2);
	color: rgba(255,255,255,.8);
	text-shadow: 0 0 5px 0 black;
}
#konten > #menu > .qty-value > #tambah:active{
	background-color: rgba(0,200,255,.5);
}
#konten > #menu > .qty-value > #kurang:active{
	background-color: rgba(255,0,100,.5);
}
#footer{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: auto;
	margin: 0;
	padding: 0;
	background: url(clip/pattern.png), teal; /* Tidak Support Gradien */
	background: url(clip/pattern.png), -webkit-linear-gradient(left, #066, teal, #066); /* Safari 5.1 to 6.0 */
	background: url(clip/pattern.png), -o-linear-gradient(left, #066, teal, #066); /* Opera 11.1 to 12.0 */
	background: url(clip/pattern.png), -moz-linear-gradient(left, #066, teal, #066); /* Firefox 3.6 to 15 */
	background: url(clip/pattern.png), linear-gradient(to right, #066, teal, #066); /* Standard syntax */
	background-position: left bottom;
	background-repeat: repeat;
	font-family: hiruko;
	font-size: 14px;
	font-weight: 100;
	color: white;
	text-shadow: 1px 2px rgba(0,0,0,.4);
	text-align: center;
	filter: drop-shadow(0 0 3px rgba(0,0,0,.5));
}
#footer > p{
	padding: 10px;
}